@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  @apply m-0 font-custom font-normal leading-6 text-sm text-left;
  color: white;
  color: #525f7f;
  background-color: #1e1e2f;
}
h2 {
  color: #9a9a9a;
}

h4 {
  color: #e14eca
}

.card {
  color: #222a42;
}